<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Campus Location</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="manifest" href="manifest.json">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.58/darkreader.min.js"></script>
	<style>
		.card-header {
		    background-color: rgb(0, 61, 165);
		    color: white;
		}
		.progress-bar {
		    background-color: rgb(0, 61, 165);
		}
		.row-pad {
		    padding-bottom: 25px;
		}
		.parent { display: -ms-flex; display: -webkit-flex; display: flex; }
		.parent>div { flex:1; }
		
		.row {
		    margin-right: unset !important;
		    margin-left: unset !important;
		}
		
		.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		    padding-right: unset !important;
		    padding-left: unset !important;
		}
		[v-cloak] {
		  display:none;
		}
		
		html, body {
		  overscroll-behavior-y: none;
		}
	</style>
</head>
  <body>
    <div id="app">

            <br/>
         
         
	    <div id="lots" class="container-fluid row" v-cloak>
		    <template v-for="loc in resultQuery">
				<div v-if="loc[2]" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 row-pad parent">
				   <div class="card">
				      <h5 class="card-header">
				         {{loc[0]}}<br/>
				         <small>{{loc[8]}}</small>
				      </h5>
				      <div class="card-body">
				            <!--<div v-html="'Location: ' + loc[2]"></div>-->
				            <!-- if no pic show map-->
				            <!--map-->
				            <img v-if="!loc[3]" :src="'https://api.mapbox.com/styles/v1/jassmith87/cjyhqzqit14fs1cmjwogd33l2/static/url-https%3A%2F%2Fres.cloudinary.com%2Fglide%2Fimage%2Fupload%2Fv1572388650%2Fglidehq%2Fglide-pin.png(' + loc[100] + ')/' + loc[100] + ',15,0,0/319x300@2x?access_token=pk.eyJ1IjoiamFzc21pdGg4NyIsImEiOiJjanllMWE0Y2owc2k3M2RvY3o3MXlxbDZxIn0.EQJsvDixbUz2naDzTIfE6Q'" loading="lazy" class="img-thumbnail">
				            <!-- map-->
				            <!--loc pic-->
				            <img v-if="loc[3]" :src="loc[3]" loading="lazy" class="img-thumbnail">
				            <!--loc pic-->
				            <br/><br/>
				            <div v-if="loc[4]"><div class="alert alert-primary"><p v-for="(line,lineNumber) of loc[4].split('\n')" v-bind:key="lineNumber">{{line}}</p></div><br/></div>
				            <div v-if="loc[5]"><div class="alert alert-secondary"><p v-for="(line,lineNumber) of loc[5].split('\n')" v-bind:key="lineNumber">{{line}}</p></div><br/></div>
				            
				            <div>Est. Distance from Lot 30: <br/> {{loc['lot30']}} mi</div><br/>
				            <div>Est. Distance from Lot 26: <br/> {{loc['lot26']}} mi</div><br/>
				            <div>Est. Distance from Lot 1: <br/> {{loc['lot1']}} mi</div><br/>
				            <div>Est. Distance from Lot 9: <br/> {{loc['lot9']}} mi</div><br/>
				            <div>Est. Distance from Lot 13: <br/> {{loc['lot13']}} mi</div>
				            
				            <div v-if="loc[1] == 'Dinning'">
					            <br/>
				            	<a  type="button" target="_blank" href="https://dining.ucr.edu/dining-hours" class="btn btn-primary btn-sm btn-block">Check Hours</a>
				            	<br/>
				            </div>
				            
				            <div v-if="loc[10]">
					            <br/>
				            	<a  type="button" target="_blank" :href="loc[10]" class="btn btn-primary btn-sm btn-block">Floor Plan</a>
				            	<br/>
				            </div>
				            
				            <br/>
				            <a type="button" target="_blank" :href="'https://maps.apple.com/?ll='+loc[2]+'&q='+loc[0]" class="btn btn-primary btn-sm btn-block">Apple Maps</a> &nbsp
				         <a type="button" target="_blank" :href="'https://www.google.com/maps/dir/?api=1&destination='+loc[2]" class="btn btn-primary btn-sm btn-block">Google Maps</a><br/><br/>
				         <div v-if="loc[9]"><a type="button" target="_blank" :href="loc[9]" class="btn btn-primary btn-sm btn-block">EV Charging Availability</a></div>
				      </div>
				      <div class="card-footer">
				         <a type="button" target="_blank" :onclick="'navigator.share({ url: \'https://www.google.com/maps?q='+loc[2]+'\'})'" class="btn btn-primary btn-sm btn-block">Share This Location</a>
				      </div>
				   </div>
				</div>
		    </template>
			<br/>
		</div>
		
		
		
    </div>

    <!-- Import App -->
    <script src="./location_details.js"></script>

    <!-- Mount App -->
    <script>
    const mountedApp = app.mount('#app');
    //dark reader
	DarkReader.auto({
	    brightness: 100,
	    contrast: 100
	});
	
    </script>
    <script>
		//swipe right detection
document.addEventListener('swiped-right', function(e) {
			   window.parent.$('#iframeModal').modal('hide');
            });
	</script>
	<script src="/pwa/swipe.js"></script>
  </body>
</html>